HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# 1. Ignore ALL local property files by default (Safety First)
src/main/resources/application-dev.properties
src/test/resources/application-test.properties

# 2. Ignore build and IDE files
target/
*.class
.mvn/
.idea/
.vscode/
*.jar

# 3. Explicitly ALLOW (un-ignore) these files to be pushed to GitHub
!src/main/resources/application.properties
!src/main/resources/application-prod.properties
!src/test/resources/application-prodtest.properties
!src/main/resources/application-dev.properties.example
!src/test/resources/application-test.properties.example

# Un-ignore the base test properties
!src/test/resources/application.properties

# Ignore IntelliJ Coverage Reports
htmlReport/

