spring.datasource.url=Your_DATABASE_url
spring.datasource.username=Your_DB_Password
spring.datasource.password=Your_DB_Password


SECRET_KEY = Your_JWT_SECRET_KEY

spring.mail.host=smtp.gmail.com
spring.mail.port=587
spring.mail.username= #{email to send mails}
spring.mail.password= #{app password}
spring.mail.properties.mail.smtp.auth=true   {for auth}
spring.mail.properties.mail.smtp.starttls.enable=true{transport layer service}

spring.servlet.multipart.enabled=true
spring.servlet.multipart.max-file-size=10MB
spring.servlet.multipart.max-request-size=10MB

spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect
# If using Hibernate 6+ (Spring Boot 3+)
spring.jpa.properties.hibernate.type.descriptor.sql.BinaryTypeDescriptor=REPEATABLE_READ

#Payment test api
RAZORPAY_API_KEY=Your_Test_Key
RAZORPAY_API_SECRET=Test_key_secret