spring.datasource.url=jdbc:h2:mem:testdb;DB_CLOSE_DELAY=-1
spring.datasource.driverClassName=org.h2.Driver
spring.jpa.database-platform=org.hibernate.dialect.H2Dialect
spring.jpa.hibernate.ddl-auto=create-drop

#Test Payment Api
RAZORPAY_API_KEY=YOUR_RAZORPAY_API_KEY
RAZORPAY_API_SECRET=YOUR_RAZORPAY_API_SECRET


spring.servlet.multipart.enabled=true
spring.servlet.multipart.max-file-size=10MB
spring.servlet.multipart.max-request-size=10MB

spring.jpa.properties.hibernate.dialect.temp.use_jdbc_metadata_defaults=false
spring.jpa.properties.hibernate.type.descriptor.sql.BinaryTypeDescriptor=REPEATABLE_READ

SECRET_KEY = YOUR_JWT_SECRET_KEY

spring.mail.host=smtp.gmail.com
spring.mail.port=587
spring.mail.username= YOUR_EMAIL
spring.mail.password=YOUR_TEST_EMAIL_PASS
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true


cloudinary.cloud-name=YOUR_CLOUDINARY_CLOUD_NAME
cloudinary.api-key=YOUR_CLOUDINARY_API_KEY
cloudinary.api-secret=YOUR_CLOUDINARY_API_SECRET

